{% extends "recipes/base.html" %}
{% load static i18n chi_chinh_extras %}
{% block head %}
<script type="text/javascript" src="{% url 'js-catalog' %}"></script>
{% endblock %}
{% block sub_crumb %}
{% trans 'All' as all %}
{% breadcrumb all %}
{% endblock %}
{% block content %}
<section id="top" class="uk-section uk-section-default uk-padding-small" uk-height-viewport="expand: true">
  <div class="uk-grid uk-child-width-4-5@m uk-flex uk-flex-center" uk-grid>
    <div class="uk-container uk-container-large uk-padding uk-padding-remove-top">
      <h1 class="heading uk-heading-line"><span>{{ recipes }}</span></h1>
    </div>
  </div>
  <div id="recipes">
    <script src="{% static 'bundles/recipes.js' %}"></script>
  </div>
</section>
{% get_current_language as LANGUAGE_CODE %}
{{  LANGUAGE_CODE|json_script:'lang' }}
{% endblock %}
