{% extends "recipes/base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% block head %}
<script type="text/javascript" src="{% url 'js-catalog' %}"></script>
{% endblock %}
{% block sub_crumb %}
<li><span>{% trans 'All' %}</span></li>
{% endblock %}
{% block content %}
<section id="top" class="uk-section uk-section-default uk-padding-small" uk-height-viewport="expand: true">
  <div class="uk-grid uk-child-width-4-5@m uk-flex uk-flex-center" uk-grid>
    <div class="uk-container uk-container-xlarge uk-padding uk-padding-remove-top">
      <h1 class="heading uk-heading-line"><span>{{ recipes }}</span></h1>
    </div>
  </div>
  <div id="recipes">
    {% render_bundle 'recipes' %}
  </div>
</section>
{% get_current_language as LANGUAGE_CODE %}
{{  LANGUAGE_CODE|json_script:'lang' }}
{% endblock %}
