{% extends "recipes/base.html" %}
{% load i18n bleach_tags chi_chinh_extras %}
{% block title %}{{ recipe.name }} • {{ block.super }} {% endblock %}
{% block sub_crumb %}
<li><span>{{ recipe.name }}</span></li>
{% endblock %}
{% block content %}
<section class="uk-section uk-section-default uk-section-small" uk-height-viewport="expand: true">
  <div class="uk-container uk-animation-fade">
    <h1 class="heading uk-heading-line"><span>{{ recipe.name }}</span></h1>
    <div class="uk-margin-bottom">
      <p class="uk-article-meta">{% trans 'Posted on' %} {{ recipe.created|date:'F d, Y' }}</p>
      {% for category in recipe.categories.all|slice:":6" %}
      {% label category %}
      {% endfor %}
      {% if recipe.featured %}
      {% label featured 'featured' %}
      {% endif %}
      {% if recipe.new %}
      {% trans 'New' as new %}
      {% label new 'new' %}
      {% endif %}
    </div>
    <div class="uk-grid uk-flex uk-flex-left uk-grid-divider" uk-grid>
      <div class="uk-width-2-3@m">
        <article class="uk-article">
          {% if embed_url is not None and thumbnail is not None %}
          <div class="uk-column-1-2@s">
            <div>
              <img data-src="{{ recipe.picture.url }}" height="550" width="550" alt="" class="uk-margin-bottom" uk-img>
            </div>
            <div>
              <iframe
                width="550"
                height="419"
                src="{{ embed_url }}"
                srcdoc="{% srcdoc embed_url thumbnail %}"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                uk-responsive
                >
              </iframe>
            </div>
          </div>
          {% else %}
          <div>
            <img data-src="{{ recipe.picture.url }}" height="550" width="550" alt="" class="uk-margin-bottom" uk-img>
          </div>
          {% endif %}
          <hr>
          <div class="uk-padding-small uk-padding-remove-horizontal">
            <span class="uk-article-lead">{{ recipe.description|bleach }}</span>
          </div>
          <hr class="uk-visible@m"
        </article>
      </div>
      <div class="uk-width-1-3@m">
        <h3 class="uk-heading-line heading"><span>{% trans 'Watch and Share' %}</span></h3>
        {% with request.get_full_path|urlencode as host %}
        <div class="uk-background-muted uk-padding-small uk-margin" uk-sticky="media: 640">
          <div id="links">
            <div>
              <a href="{{ recipe.url }}" target="_blank" uk-icon="icon: youtube; ratio: 1.3" uk-tooltip="title: {% trans 'Watch on YouTube'%}; pos: bottom"></a>
            </div>
            <div>
              <a href="https://www.facebook.com/sharer/sharer.php?u={% get_setting 'VIRTUAL_HOST' %}{{ host }}" target="_blank" uk-icon="icon: facebook; ratio:1.3" uk-tooltip="title: {% trans 'Share on Facebook' %}; pos: bottom"></a>
            </div>
            <div>
              <a id="subscribe" target="_blank" uk-tooltip="title: {% trans 'Subscribe to Chị Chinh' %}; pos: bottom"><span>{% trans 'SUBSCRIBE' %}</span></a>
            </div>
          </div>
        </div>
        {% endwith %}
        {% if related %}
        <div class="uk-margin-large">
          <h3 class="uk-heading-line heading"><span>{% trans 'Related' %}</span></h3>
          {% for category, recipe in related.items %}
          <div class="uk-child-width-1-2@m uk-grid-divider" uk-grid>
            <div>
              <h4 class="heading uk-margin-remove-bottom">{{ recipe.name }}</h4>
              <div>
                <a class="" href="{{ recipe.url }}" target="_blank" uk-icon="youtube"></a>
                <a class="" href="{{ recipe.get_absolute_url }}" target="_blank" uk-icon="chevron-double-right"></a>
                <small class="uk-text-muted">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% locale_date LANGUAGE_CODE recipe.created %}
                </small>
                <div>
                  <small class="related">{{ category.name|upper }}</small>
                </div>
              </div>
            </div>
            <div>
              <img class="uk-margin-remove" data-src="{{ recipe.picture.url }}" height="150" width="150" alt="" uk-img>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <div>
          {% recipe_archive %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
