{% load i18n bleach_tags chi_chinh_extras %}
{% trans 'Featured' as featured %}
{% trans 'New' as new %}
<article class="uk-section-small uk-section-default recipe">
  <h3 class="uk-margin-remove-bottom">{{ recipe.name }}</h3>
  {% if recipe.new %}
  {% label new 'new' %}
  {% endif %}
  {% if recipe.featured %}
  {% label featured 'featured' %}
  {% endif %}
  <div>
    {% for category in recipe.categories.all|slice:":2" %}
    {% label category %}
    {% endfor %}
  </div>
  <p class="uk-article-meta">{% trans 'Posted on ' %}
    {% get_current_language as LANGUAGE_CODE %}
    {% locale_date LANGUAGE_CODE recipe.created %}
  </p>
  <p>{{ recipe.description|truncatewords:5|bleach }}</p>
  <div class="uk-grid-small uk-child-width-auto uk-article-meta" uk-grid>
    <div>
      <a class="uk-button uk-button-text" href="{{ recipe.get_absolute_url }}"><span uk-icon="chevron-double-right"></span></a>
    </div>
    <div>
      <a href="{{ recipe.url }}" target="_blank" uk-icon="youtube"></a>
    </div>
  </div>
</article>
