<style>
* {
  padding:0;
  margin:0;
  overflow: hidden;
}
html, body {
  height:100%;
}
img {
  width: 100%;
  opacity: .7;
}
img, span {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto
}
span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.5em;
  width: 5.5em;
  background-color: #1e1e1e;
  opacity: .9;
  border-radius: 12px;
}
span > span {
  width: 100%;
  height:1.5em;
  text-align: center;
  font: 24px/1.5 sans-serif;
  color: white;
}
</style>
<a href={{ embed_url }}>
  <img src={{ thumbnail }}>
  <span>
    <span>▶</span>
  </span>
</a>
