{% load static i18n chi_chinh_extras %}
{% trans 'Home' as home context 'Home page' %}
{% trans 'Recipes' as recipes %}
{% trans 'Contact' as contact %}
{% trans 'About' as about %}
{% trans 'Search' as search %}
{% trans 'Channel' as channel %}
{% trans 'Subscribe' as subscribe %}
{% trans 'Archive' as archive %}
{% trans 'See more' as see_more %}
{% trans 'Featured' as featured %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="ALL">
    <meta name="keywords" content="cooking, vietnam, vietnamese, food">
    <meta name="copyright" content="&copy; Chị Chinh">
    <meta name="description" content="The home of Chị Chinh's cooking and recipe blog.">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@latest/dist/css/uikit.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/css/app.css' %}" />
    {% block head %}{% endblock %}
    <title>{% block title %} {% endblock %} • Chị Chinh </title>
  </head>
  <body>
    <header id="header" uk-sticky="show-on-up: true; animation: uk-animation-fade; media: @l">
      <div class="uk-container">
        <nav id="navbar" uk-navbar="mode: click;">
          <div class="uk-navbar-left nav-overlay uk-visible@m">
            <ul class="uk-navbar-nav">
              <li><a href="{% url 'index' %}" uk-icon="home"></a></li>
              <li>
                <a uk-icon="more"></a>
                <div uk-dropdown>
                  <ul class="uk-nav uk-dropdown-nav">
                    <li><a href="{% url 'recipes' %}">{{ recipes }}</a></li>
                    <li><a href="{% url 'recipe-archive' %}">{{ archive }}</a></li>
                    <li><a href="{% url 'contact' %}">{{ contact }}</a></li>
                    <li><a href="{% url 'about' %}">{{ about }}</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="{{ channel_url }}">{{ channel }}</a></li>
                    <li><a href="{{ sub_url }}">{{ subscribe }}</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="uk-navbar-center nav-overlay">
            <a id="brand" class="uk-navbar-item uk-logo" href="{% url 'index' %}">Chị<img src="{% static 'img/logo.png' %}" alt="">Chinh </a>
          </div>
          <div class="uk-navbar-right nav-overlay">
            <a target="_blank" class="uk-visible@s nav-links" href="{{ channel_url }}" uk-icon="youtube"></a>
            <a target="_blank" class="uk-visible@s nav-links" href="https://facebook.com/nguyenngoc.mytrjnh" uk-icon="facebook"></a>
            <a class="uk-navbar-toggle uk-visible@m" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
            <div class="uk-navbar-item">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
              <form action="{% url 'set_language' %}" id="form_{{ language.code}}" method="POST">{% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path|slice_url }}">
                <input name="language" type="hidden" value="{{ language.code }}">
              </form>
              <button type="submit" form="form_{{ language.code}}" class="uk-visible@s uk-button uk-button-text uk-margin-right {% if language.code == LANGUAGE_CODE %}uk-active{% else %}uk-text-muted{% endif %}">{{ language.code }}</button>
              {% endfor %}
              <a class="uk-navbar-toggle uk-hidden@m" uk-toggle uk-navbar-toggle-icon href="#offcanvas-nav"></a>
            </div>
          </div>
          <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
            <div class="uk-navbar-item uk-width-expand">
              <form class="uk-search uk-search-navbar uk-width-1-1" action="{% url 'search' %}" method="GET">
                <input class="uk-search-input" type="search" name="q" placeholder="{{ search }}..." autofocus>
              </form>
            </div>
            <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
          </div>
        </nav>
      </div>
    </header>
    <main id="main" class="uk-container uk-container-xlarge">
      <div class="uk-container uk-visible@m">
        <nav id="sub-nav">
          <ul class="uk-subnav uk-flex uk-flex-between@m">
            <li><a class="uk-button uk-button-text uk-button-small@s" href="{% url 'index' %}">{{ home }}</a></li>
            <li><a class="uk-button uk-button-text uk-button-small@s" href="{% url 'recipes' %}">{{ recipes }}</a></li>
            <li><a class="uk-button uk-button-text uk-button-small@s" href="{% url 'recipe-archive' %}">{{ archive }}</a></li>
            <li><a class="uk-button uk-button-text uk-button-small@s" href="{% url 'contact' %}">{{ contact }}</a></li>
            <li><a class="uk-button uk-button-text uk-button-small@s" href="{% url 'about' %}">{{ about }}</a></li>
            <li><a class="uk-button uk-button-text uk-button-small@s" href="{{ channel_url }}">{{ channel }}</a></li>
            <li><a class="uk-button uk-button-text uk-button-small@s" href="{{ sub_url }}">{{ subscribe }}</a></li>
          </ul>
        </nav>
      </div>
      <div class="uk-container uk-flex uk-flex-center uk-padding-small uk-padding-remove-bottom">
        <ul class="uk-breadcrumb">
          {% block breadcrumb %}
          {% endblock %}
        </ul>
      </div>
      {% block content %}{% endblock %}
    </main>
    <footer class="uk-section uk-section-small uk-section-muted">
      <div class="uk-container">
        <div class="uk-grid uk-grid-large uk-grid-divider" uk-grid>
          <div class="uk-width-1-5@m">
            <ul class="uk-nav">
              <li class="uk-parent uk-text-small">
                <a href="{% url 'index' %}">{{ home }}</a>
                <ul class="uk-nav-sub">
                  <li><a href="{% url 'recipes' %}"><small>{{ recipes }}</small></a></li>
                  <li><a href="{% url 'recipe-archive' %}"><small>{{ archive }}</small></a></li>
                  <li><a href="{% url 'about' %}"><small>{{ about }}</small></a></li>
                  <li><a href="{% url 'contact' %}"><small>{{ contact }}</small></a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="uk-width-1-5@m">
            <h4 class="heading">Chị Chinh</h4>
            <p class="uk-text-small uk-text-muted">&copy; {% now 'Y' %} Chị Chinh</p>
          </div>
          <div class="uk-width-2-5@m">
            <div class="uk-inline">
              <a target="_blank" href="{{ channel_url }}" class="uk-icon-button" uk-icon="youtube"></a>
              <a target="_blank" href="https://facebook.com/nguyenngoc.mytrjnh" class="uk-icon-button" uk-icon="facebook"></a>
              <a target="_blank" href="{{ sub_url }}">{{ subscribe|upper }}</a>
            </div>
            <div class="uk-inline">
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div id="offcanvas-nav" uk-offcanvas>
      <div class="uk-background-muted uk-dark uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close" type="button" uk-close></button>
        <ul class="uk-nav">
          <li class="uk-parent">
            <a href="{% url 'index' %}">{{ home }}</a>
            <ul class="uk-nav-sub">
              <li><a href="{% url 'recipes' %}">{{ recipes }}</a></li>
              <li><a href="{% url 'recipe-archive' %}">{{ archive }}</a></li>
              <li><a href="{% url 'about' %}">{{ about }}</a></li>
              <li><a href="{% url 'contact' %}">{{ contact }}</a></li>
            </ul>
            <hr>
          </li>
          <li class="uk-parent">
            <a href="{{ channel_url }}">{{ channel }}</a>
            <ul class="uk-nav-sub">
              <li><a href="{{ sub_url }}">{{ subscribe }}</a></li>
            </ul>
            <hr>
          </li>
        </ul>
        <h3 class="heading">Chị Chinh</h3>
        <div class="uk-inline">
          <a target="_blank" href="{{ channel_url }}" uk-icon="youtube"></a>
          <a target="_blank" href="https://facebook.com/nguyenngoc.mytrjnh" uk-icon="facebook"></a>
        </div>
        <div>
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
          <button type="submit" form="form_{{ language.code}}" class="uk-button uk-button-text">{{ language.code }}</button>
          {% endfor %}
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>
    {% block body_js %}{% endblock %}
  </body>
</html>
