{% extends "common/base.html" %}
{% load static i18n chi_chinh_extras %}
{% block title %}{{ home }}{% endblock %}
{% block content %}
<section class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-height-large uk-cover-container">
      <img src="{% static 'img/hero.jpg' %}" alt="" uk-cover>
      <div id="overlay" class="uk-overlay uk-overlay-primary uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-light uk-text-center">
        <div class="uk-animation-slide-bottom-small">
          <span>{% trans "CHỊ CHINH'S KITCHEN" %}</span>
          <h1 class="uk-margin-top uk-margin-small-bottom uk-margin-remove-adjacent">{% trans 'AUTHENTIC COOKING' %}</h1>
          <p>{% trans 'New recipes every week!' %}</p>
          <a href="{% url 'recipes' %}" class="uk-button uk-button-default uk-margin-top">{{ see_more }}</a>
          <a href="{{ sub_url }}" class="uk-button uk-button-default uk-margin-top">{{ subscribe }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% if featured_recipes %}
<section class="uk-section uk-section-small">
  <div class="uk-container">
    <h2 class="heading uk-heading-line uk-text-bold"><span>{{ featured }}</span></h2>
    <div uk-slider>
      <div class="uk-position-relative">
        <div class="uk-slider-container uk-dark">
          <ul class="uk-slider-items uk-child-width-1-2@m">
            {% for recipe in featured_recipes %}
            <li>
              <div class="uk-grid uk-child-width-1-2">
                <div class="uk-flex uk-flex-middle">
                  <img src="{{ recipe.picture.url }}" height="350" width="350" alt="">
                </div>
                <div>
                  {% snippet recipe %}
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="uk-hidden@s uk-light">
          <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
        <div class="uk-visible@s">
          <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
      </div>
      <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>
  </div>
</section>
{% endif %}
<section class="uk-section uk-section-default uk-padding-remove-top">
  <div class="uk-container">
    <div class="uk-grid uk-flex uk-flex-center" ukgrid>
      <div class="uk-width-2-3@m">
        <h2 class="heading uk-heading-line uk-text-bold"><span>{% trans 'Latest Recipes' %}</span></h2>
        {% for recipe in latest %}
        <div class="uk-grid uk-grid-divider" uk-grid>
          <div class="uk-width-1-2@m">
            <img class="uk-animation-fade" height=400 width=400 src="{{ recipe.picture.url }}" alt="">
          </div>
          <div class="uk-width-1-2@m">
            {% snippet recipe %}
          </div>
        </div>
        {% endfor %}
        <hr>
        <div>
          <a class="uk-button uk-button-text uk-text-muted" href="{% url 'recipes' %}">{{ see_more }} >></a>
        </div>
      </div>
      <div class="uk-width-1-3@m">
        {% recipe_archive %}
        <div>
          <h4 class="heading uk-heading-line uk-text-bold"><span>{% trans 'About Me' %}</span></h4>
          <section class="uk-section uk-section-muted uk-padding-small">
            <div class="uk-grid-small uk-flex uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="rounded" src="{% static 'img/about.jpg' %}" alt="">
              </div>
              <div class="uk-width-expand">
                <h4 class="heading">Chị Chinh</h4>
                <p class="uk-text-muted">{% trans "Hello! I'm Trinh. I love cooking and sharing my recipes with everyone. You can check out all of my recipes here and watch them on YouTube. Don't forget to subscribe!" %}</p>
                <a class="uk-button uk-button-text uk-text-muted" href="{% url 'about' %}">{% trans 'Read more' %} >></a>
              </div>
            </div>
          </section>
        </div>
      </div>
</section>
{% endblock content %}
