@import 'variables';

.field {
  label {
    @include quicksand;
    font-weight: bold;
  }

  textarea {
    resize: none;
  }
}

#phone {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  height: 1px;
  width: 1px;
}
