@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

a {
  @include highlight;
  color: #b37972;
}

article.recipe {
  h3 {
    @include quicksand;
    font-weight: 600;
    color: $dark-pink;
  }
}

img.rounded {
  height: 100px;
  width: auto;
  border: 1px solid black;
  border-radius: 50%;
}

#header {
  background-color: $bg-pink;

  .uk-sticky-below {
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.07);
  }
}

#brand {
  font-family: $bellota;
  @include highlight;

}

#sub-nav {
  margin-top: 5px;
  position: relative;
  z-index: 2;
  height: 2rem;
  box-sizing: border-box;
  overflow-y: hidden;
  padding: 1px;
  border-bottom: 1px solid rgba(0,0,0,0.075);
  line-height: 1em;

  ul {
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 1px;

    li {
      a {
        font-weight: 500;
      }
    }
  }
}

#offcanvas-nav {
  div {
    background-color: $bg-pink;

    a, h3, span, button {
      color: $grey;
    }

    hr {
      background-color: $grey;
    }

    li.uk-parent {
      @include quicksand;
    }
  }
}

#overlay {
  h1 {
    @include quicksand;
  }

  span {
    @include quicksand;
    letter-spacing: .2em;
    font-size: .8em;
  }

  p {
    font-family: $bellota;
  }
}

#subscribe {
  position: absolute;
  top: 0;
  border-radius: 4px;
  background: #d59f9f;
  padding: 7px;
  position: absolute;
  bottom: 0;

  span {
    vertical-align: middle;
    padding-bottom: 12px;
    color: white;
    letter-spacing: .2em;
    font-size: .8em;
  }
}

.uk-button-text {
  &:before {
    border-bottom: 1px solid $hl-pink;
  }

  &:hover, &:focus {
    &:before {
      border-bottom: 1px solid $hl-pink;
    }
  }
}

.uk-button {
  border-radius: 10px;
}

.uk-label {
  background-color: $dark-pink;

  &.featured {
    background-color: $yellow;
    color: $light-grey;
  }

  &.new {
    background-color: $light-blue;
  }
}

.nav-links {
  margin-right: 5px;
}

.heading {
  color: #7b7b7b;
  font-family: $bellota;
  font-weight: 600;
}

.related {
  color: $dark-pink;
  font-weight: 700;
}

.sub-heading {
  @include quicksand;
  font-weight: 600;
}
