@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$screen-lg-min: 992px;
$hl-pink: #f3c1c1;
$bg-pink: #f6f2f2;
$dark-pink: #b37972;
$grey: #8c8c8c;

$bellota: 'Bellota', sans-serif;
$quicksand: 'Quicksand', sans-serif;

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin highlight {
  &:hover {
    color: $hl-pink;
  }
}

a {
  @include highlight;
  color: #b37972;
}

article.recipe {
  h3 {
    font-family: $quicksand;
    font-weight: 600;
    color: $dark-pink;
  }
}

img.rounded {
  height: 100px;
  width: auto;
  border: 1px solid black;
  border-radius: 50%;
}

#header {
  background-color: $bg-pink;

  .uk-sticky-below {
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.07);
  }
}

#brand {
  font-family: $bellota;
  @include highlight;

}

#sub-nav {
  margin-top: 5px;
  position: relative;
  z-index: 2;
  height: 2rem;
  box-sizing: border-box;
  overflow-y: hidden;
  padding: 1px;
  border-bottom: 1px solid rgba(0,0,0,0.075);
  line-height: 1em;

  ul {
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 1px;

    li {
      a {
        font-weight: 500;
      }
    }
  }
}

#offcanvas-nav {
  div {
    background-color: $bg-pink;

    a, h3, span, button {
      color: $grey;
    }

    hr {
      background-color: $grey;
    }

    li.uk-parent {
      font-family: $quicksand;
    }
  }
}

#overlay {
  h1 {
    font-family: $quicksand;
  }

  span {
    letter-spacing: .2em;
    font-size: .8em;
    font-family: $quicksand;
  }

  p {
    font-family: $bellota;
  }
}

#subscribe {
  position: absolute;
  top: 0;
  border-radius: 4px;
  background: #d59f9f;
  padding: 7px;
  position: absolute;
  bottom: 0;

  span {
    vertical-align: middle;
    padding-bottom: 12px;
    color: white;
    letter-spacing: .2em;
    font-size: .8em;
  }
}

#categories {
  @include lg {
    margin-left: 0px;
  }
  margin-left: 50px;
}

#no-results {
  @include lg {
    margin-left: 10px;
  }
  margin-left: 1px;
}

.uk-button-text {
  &:before {
    border-bottom: 1px solid $hl-pink;
  }

  &:hover, &:focus {
    &:before {
      border-bottom: 1px solid $hl-pink;
    }
  }
}

.uk-button {
  border-radius: 10px;
}

.uk-label {
  background-color: $dark-pink;
}

.nav-links {
  margin-right: 5px;
}

.heading {
  color: #7b7b7b;
  font-family: $bellota;
  font-weight: 600;
}

.related {
  color: $dark-pink;
  font-weight: 700;
}

.sub-nav {
    padding: 14px;

  ul {
    background-color: #f8f8f8;
    padding: 10px 10px 15px 10px;

    li {
      a {
        padding: 10px;

        &.parent {
          font-family: $bellota;
          font-weight: 600;
          font-size: 17px;
          width: 90%;
          border-bottom: .12rem dashed #564949;
        }
      }
      ul li {
        list-style: disclosure-closed;
        margin-left: 20px;

        a {
          &.child {
            padding: 5px;
            font-weight: 800;
            font-family: $quicksand;

            &.active {
              color: #616161;
              background-color: #d1c5c4;
            }
          }
        }
      }
    }
  }
}

.order-by {
  &.active {
    color: $dark-pink;
  }
}
