@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

$hl-pink: #f3c1c1;
$bg-pink: #f6f2f2;
$dark-pink: #b37972;

$heading-font: 'Bellota', sans-serif;

@mixin highlight {
  &:hover {
    color: $hl-pink;
  }
}

a {
  @include highlight;
  color: #b37972;
}

#header {
  background-color: $bg-pink;

  .uk-sticky-below {
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.07);
  }
}

#brand {
  font-family: $heading-font;
  @include highlight;

}

#sub-nav {
  margin-top: 5px;
  position: relative;
  z-index: 2;
  height: 2rem;
  box-sizing: border-box;
  overflow-y: hidden;
  padding: 1px;
  border-bottom: 1px solid rgba(0,0,0,0.075);
  line-height: 1em;

  ul {
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 1px;

    li {
      a {
        font-weight: 500;
      }
    }
  }
}

#offcanvas-nav {
  div {
    background-color: $bg-pink;

    a, h3, span, button {
      color: #8c8c8c;
    }

  }
}

#overlay {
  span {
    letter-spacing: .2em;
    font-size: .8em;
  }
}

.nav-links {
  margin-right: 5px;
}

.uk-button-text {
  &:before {
    border-bottom: 1px solid $hl-pink;
  }

  &:hover, &:focus {
    &:before {
      border-bottom: 1px solid $hl-pink;
    }
  }
}

.uk-button {
  border-radius: 10px;

  &.active {
    background-color: $hl-pink;
    color: white;
  }
}

.heading {
  color: #7b7b7b;
  font-family: $heading-font;
}

article.recipe {
  span {
    * {
      font-family: 'Manrope', serif;
      font-weight: 600;
      color: $dark-pink;
    }
  }
}

.uk-label {
  background-color: $dark-pink;
}

img.rounded {
  height: 100px;
  width: auto;
  border: 1px solid black;
  border-radius: 50%;
}

