@import 'variables';

#archive.sub-nav {
  li {
    @include quicksand;
    list-style: none;
    font-weight: bold;
  }
}

#categories {
  @include lg {
    margin-left: 0px;
  }
  margin-left: 50px;
}

#no-results {
  @include lg {
    margin-left: 10px;
  }
  margin-left: 1px;
}

.sub-nav {
  padding: 14px;

  ul {
    @include result-list;

    li {
      a {
        padding: 10px;

        &.parent {
          @include result-list-item;
        }
      }
      ul li {
        list-style: disclosure-closed;
        margin-left: 20px;

        a {
          &.child {
            @include quicksand;
            padding: 5px;
            font-weight: 800;

            &.active {
              color: #616161;
              background-color: #d1c5c4;
            }
          }
        }
      }
    }
  }
}

.order-by {
  &.active {
    color: $dark-pink;
  }
}
