$screen-lg-min: 992px;

$hl-pink: #f3c1c1;
$bg-pink: #f6f2f2;
$dark-pink: #b37972;
$grey: #8c8c8c;

$bellota: 'Bellota', sans-serif;
$quicksand: 'Quicksand', sans-serif;

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin highlight {
  &:hover {
    color: $hl-pink;
  }
}

@mixin quicksand {
  font-family: $quicksand;
}
