$screen-lg-min: 992px;

$hl-pink: #f3c1c1;
$bg-pink: #f6f2f2;
$dark-pink: #b37972;
$grey: #8c8c8c;
$light-grey: #7c6464;
$light-blue: #8cb8c3;
$yellow: #ffec85;

$bellota: 'Bellota', sans-serif;
$quicksand: 'Quicksand', sans-serif;

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin highlight {
  &:hover {
    color: $hl-pink;
  }
}

@mixin quicksand {
  font-family: $quicksand;
}

@mixin result-list {
  background-color: #f8f8f8;
  padding: 10px 10px 15px 10px;
}

@mixin result-list-item {
  font-family: $bellota;
  font-weight: 600;
  font-size: 17px;
  border-bottom: .12rem dashed #564949;
}
